AddDefaultCharset UTF-8

Options -Indexes

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<Files "include\config_database.php">
    Require all denied
</Files>