body {
  background: linear-gradient(180deg, #a1c0dc, #4a5d7a);
}

footer {
  background: linear-gradient(90deg, #635992, #8c7ab9, #635992);
  color: white;
  padding: 30px 0;
}

.contenedor-footer {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.cont-foo {
  text-align: center;
}

.cont-foo h4 {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.cont-foo p {
  margin: 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.custom-navbar {
  background: linear-gradient(90deg, #635992, #8c7ab9, #635992);
}

.custom-title {
  color: rgb(39, 23, 111);
  margin-left: 15px;
}

/* Estilos navideños */
.navidad footer {
  background-color: #c52f2f; /* Rojo navideño */
  color: white;
}

.navidad .contenedor-footer {
  border-bottom: 1px solid #ffcc00; /* Dorado */
}

.navidad .custom-navbar {
  background: #c52f2f; /* Rojo navideño */
}

.navidad .custom-title {
  color: #ffcc00; /* Dorado */
}

.navidad {
  background: url("https://i.imgur.com/uzGg0e6.jpeg") no-repeat center center
    fixed;
  background-size: cover;
  margin: 0; /* Opcional, para eliminar el margen por defecto del cuerpo */
}
